{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}View Tickets{% endblock %}</h1>
{% endblock %}

{% block content %}
<h2>Tickets</h2>
<table style="width:100%">
  <tr>
    <th>Id</th>
    <th>Title</th>
    <th>Description</th>
    <th>Tag</th>
  </tr>
  {% for ticket in tickets %}
    <tr>
      <th>{{ ticket.ticket_id }}</th>
      <th><a href="{{ url_for("ticket.view", ticket_id=ticket.ticket_id) }}">{{ ticket.title }}</a></th>
      <th>{{ ticket.description }}</th>
      <th>{{ ticket.tag }}</th>
    </tr>
  {% endfor %}
</table>
{% endblock %}
