{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}View Ticket{% endblock %}</h1>
{% endblock %}

{% block content %}
<h2>{{ ticket.title }}</h2>
<p>Created by User {{ ticket.user_id }} on {{ ticket.created_on }}</p>
<p>Tag: {{ ticket.tag }}</p>
{% if not ticket.is_closed %}
  <p>Ticket has not been resolved</p>
{% else %}
  <p>Ticket has been resolved</p>
{% endif %}
<p>{{ ticket.description }}</p>

<form method="POST" action="{{ url_for("ticket.close", ticket_id=ticket.ticket_id) }}">
  <input type="submit" name="Close Ticket" value="Close Ticket">
</form>

<h2>Messages</h2>
{% for message in messages %}
  <div id="message_{{ message.message_id }}" class="message">
    <h4>User {{ message.user_id }} send on {{ message.sent_on }}</h4>
    <p>{{ message.text }}</p>
  </div>
{% endfor %}

<h2>Send Message</h2>
<form method="POST" action="{{ url_for("message.send", ticket_id=ticket.ticket_id) }}">
  <label for="message_text">Message Text</label>
  <input type="text" id="message_text" name="message_text">
  <input type="submit" name="Send Message" value="Send Message">
</form>

{% endblock %}
